<div class="left">
  <div class="left">
    <img class="img-worth" src="/assets/img/wallet.svg" alt="my_worth">
  </div>
  <div class="right">
    <p class="money"> {{myWorth | currency:'USD':true:'1.2-2'}} </p>
    <p class="underMoney right">Current worth <span *ngIf="demo">(Demo)</span></p>
  </div>
</div>

<div class="right separetor-left">
  <div class="left">
    <img class="img-worth" src="/assets/img/arrow-up-chart.svg" *ngIf="!isLoss()" alt="my_worth">
    <img class="img-worth" src="/assets/img/arrow-down-chart.svg" *ngIf="isLoss()" alt="my_worth">
  </div>
  <div class="right">
    <p class="money" [ngClass]="{'green': !isLoss(), 'red': isLoss()}"> {{myProfLoss | currency:'USD':true:'1.2-2'}} </p>
    <p class="underMoney right" *ngIf="!isLoss()">Profits</p>
    <p class="underMoney right" *ngIf="isLoss()">Loss</p>
  </div>
</div>
