<div class="flex-board">
    <div class="asset-class-line" *ngIf="areaChartData && areaChartData()">
        <div class="asset-class-card my-card" *ngFor="let aC of getPortfolio()">
            <asset-class-chip
                [label]="aC.assetClass"
                [value]="aC.value"
                [profLoss]="aC.profLoss"
            ></asset-class-chip>
        </div>
    </div>
    <div class="my-card" id="strategy-card">
        <pie-chart
            #strategyPieChart
            title="Strategy"
            [values]="strategyValues"
            [labels]="['Bonds', 'Forex', 'Stocks', 'Commodities', 'Empty']"
            legendaTextColor="#000"
            [portrait]="false"
            (save)="saveStrategy($event)"
        ></pie-chart>
    </div>
    <div class="my-card" id="area-chart-card">
        <area-chart *ngIf="areaChartData && areaChartData()"
            [data]="areaChartData()"
        ></area-chart>
    </div>
</div>
