
<md-toolbar color="primary">
  <!--<button *ngIf="!getUserLogged()" md-button routerLink="/login">Login</button>
  <button *ngIf="!getUserLogged()" md-button routerLink="/register">Register</button>
  <button *ngIf="getUserLogged()" md-button routerLink="/welcome">Home</button>
  <button *ngIf="getUserLogged()" md-button routerLink="/procedure-list">Procedures</button>-->
  <button md-button *ngIf="isLogged()" routerLink="/dashboard">Dashboard</button>
  <button md-button *ngIf="isLogged()">Logout</button>

  <button md-button *ngIf="!isLogged()" routerLink="/login">Login</button>
  <button md-button *ngIf="!isLogged()" routerLink="/signup">Sign Up</button>
</md-toolbar>

<router-outlet>

</router-outlet>


