
<md-toolbar color="primary" style="z-index: 10">
  <md-icon id="hamburger" (click)="toggleSidenav()">&#9776;</md-icon>
  <span *ngIf="getUsername()">{{getUsername()}}</span>
</md-toolbar>

<div class="container-layout">
  <div class="sidebar-container" id="sidenav">
    <div class="sidenav">
      <button class="sidebar-button" (click)="closeSidenav()" md-button *ngIf="isLogged()" routerLink="/dashboard"><md-icon>home</md-icon> Dashboard</button>
      <button class="sidebar-button" (click)="closeSidenav()" md-button *ngIf="!isLogged()" routerLink="/signup"><md-icon>create</md-icon> Sign Up</button>
      <button class="sidebar-button" (click)="closeSidenav()" md-button *ngIf="!isLogged()" routerLink="/login"><md-icon>account_circle</md-icon> Login</button>
      <button class="sidebar-button" (click)="logout()" md-button *ngIf="isLogged()"><md-icon>open_in_new</md-icon> Logout</button>
    </div>
  </div>
  <div class="app-container">
    <router-outlet></router-outlet>
  </div>
  <div class="sidebar-overlay" id="sidebar-overlay" (click)="toggleSidenav()"></div>
</div>
