<div class="wrapper wrapper-content animated fadeInRight" *ngIf="isLogged()">
    <div class="row">
        <div class="col-md-12">
            <h1>This is the DEMO page</h1>
            <h3>To start simulating, choose a start date and an initial strategy, then click on "START".</h3>
            <p>You can change your strategy day by day. Clicking on "NEXT", another day will be computed. Enjoy!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="info-tile">
                <div class="input-group">
                    <span class="input-group-addon">Simulation starting date</span>
                    <input #inputStartingDate class="form-control" type="date" name="startDate" [value]="startingDate" (change)="onStartDateChange($event)" [disabled]="hasStarted">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">How many days want to simulate each next click?</span>
                    <select class="form-control" type="number" name="numberDays" [value]="days" (change)="onNumberDaysChange($event)">
                        <option value="1">1 Day</option>
                        <option value="3">3 Days</option>
                        <option value="7">1 Week</option>
                        <option value="15">2 Weeks</option>
                        <option value="30">1 Month</option>
                    </select>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">Current portfolio at</span>
                    <input class="form-control" type="date" value="{{lastComputedDay()}}" disabled>
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="resetDemo()">
                            {{'Reset' | uppercase}}
                        </button>
                        <button #nextButton class="btn btn-default" type="button" (click)="demoNextDay(lastComputedDay)" disabled>
                            {{textButton | uppercase}}
                        </button>
                    </div>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon"><input style="width: 16px; height: 16px;" class="form-control" type="checkbox" (change)="changeAutomaticDemo($event)">Auto update &nbsp;&nbsp;</span>
                    <select class="form-control" type="number" name="numberSeconds" [value]="seconds" (change)="onNumberSecondsChange($event)">
                        <option value="2">2 seconds</option>
                        <option value="3">3 seconds</option>
                        <option value="5">5 seconds</option>
                        <option value="10">10 seconds</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="getPortfolio()">
        <div class="col-md-3" *ngFor="let aC of getPortfolio().assets; let i = index">
            <app-portfolio-snapshot 
                [assetClassName]="aC.assetClass" 
                [percentage]="aC.percentage" 
                [value]="aC.value"
                [clickable]="false"
            ></app-portfolio-snapshot>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="info-tile">
                <div class="tile-heading"><span>{{"Current Strategy" | uppercase }}</span></div>
                <app-strategy 
                    #strategyComponent 
                    [autoSaving]="false" 
                    (save)="onStrategySave($event)"
                ></app-strategy>
            </div>
        </div>
        <div class="col-md-8">
            <div class="info-tile" *ngIf="chartOptions">
                <div class="tile-heading"><span>Simulated worth history</span></div>
                <app-line-chart 
                    [data]="chartOptions"
                ></app-line-chart>
            </div>
            <div class="info-tile" *ngIf="!chartOptions">
                <h1>{{textPreview}}</h1>
            </div>
        </div>
    </div>
    <!--<div class="row" *ngIf="getPortfolio && getPortfolio()">
    <div class="col-md-3" *ngFor="let aC of getPortfolio().assets; let i = index" (click)="showAsset(i)">
      <app-portfolio-snapshot
          [assetClassName]="aC.assetClass"
          [percentage]="aC.percentage"
          [value]="aC.value"
      ></app-portfolio-snapshot>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="info-tile">
        <div class="tile-heading"><span>Current Strategy</span></div>
        <app-strategy
          [colors]="roboAdviceConfig.PieChartColor"
          [labels]="roboAdviceConfig.AssetClassLabel"
        ></app-strategy>
      </div>
    </div>
    <div class="col-md-9 " *ngIf="worthHistoryOptions">
      <div class="info-tile">
        <div class="tile-heading"><span>Worth history</span></div>
        <app-line-chart [data]="worthHistoryOptions"></app-line-chart>
      </div>
    </div>
  </div>-->
</div>