<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Warning!</strong> This is an experimental feature! The forecast data is not reliable, use at your own risk.
</div>
<div class="wrapper wrapper-content animated fadeInRight" *ngIf="isLogged()">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to the Forecast page</h1>
            <h3>This is an experimental feature, be patient if it will require a few minutes to load the data!</h3>
            <p>You can have a forecast about the trend of your portfolio based on the general market trend. Enjoy!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="info-tile" *ngIf="status != 'done'">
                <div class="tile-heading"><span>Forecasting with neural network</span></div>

                <button class="btn btn-default" *ngIf="state == 'none'" (click)="prepareNeuralNetwork()">Train Neural Network</button>
                <p *ngIf="state == 'trainingNN'">The system is loading. This may take some time, you can continue navigating the application and come back
                    later.
                </p>
                <div class="input-group" *ngIf="state == 'ready' || state == 'done'">
                    <span class="input-group-addon">Days to forecast</span>
                    <select class="form-control" type="number" #forecastDays name="forecastDays" value="15">
                        <option value="7">1 Week</option>
                        <option value="15">2 Weeks</option>
                        <option value="30">1 Month</option>
                    </select>
                    <div class="input-group-btn">
                        <button class="btn btn-default" (click)="getForecastingData(forecastDays.value)">Get Forecast</button>
                    </div>
                </div>
                <p *ngIf="state == 'ready'"> The network is ready. Click on 'Get Forecast' to see the results</p>
                <br>

                <div class="progress" *ngIf="state == 'trainingNN'">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" attr.aria-valuenow="{{loading.current}}" attr.aria-valuemin="0"
                        attr.aria-valuemax="{{loading.total}}" [style.width]="loading.current / 10 + '%'">
                        <span>{{loading.quote}}</span>
                    </div>
                </div>
                <app-line-chart [data]="getChartOptions()" *ngIf="state == 'done' && getChartOptions()"></app-line-chart>

                <button class="btn btn-default" *ngIf="state == 'done'" data-toggle="modal" data-target="#recommendedStrategyModal" (click)="onRecommendedMeClick('neural')">{{ 'Recommended Me a Strategy' | uppercase }}</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" *ngIf="forecastingData">
            <div class="info-tile">
                <div class="tile-heading"><span>Forecasting With SVM (Machine Learning)</span></div>
                <app-line-chart [data]="getChartOptionsSecondType()"></app-line-chart>

                <button class="btn btn-default" data-toggle="modal" data-target="#recommendedStrategyModal" (click)="onRecommendedMeClick('svm')">{{ 'Recommended Me a Strategy' | uppercase }}</button>
            </div>
        </div>
    </div>

</div>


<!--MODAL-->
<div class="modal fade" id="recommendedStrategyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-hidden="true">
                    &times;
				</button>
                <h4>Recommended Strategy</h4>
            </div>
            <div class="modal-body" *ngIf="recommendedPercentageStrategy">
                <div class="pie-chart-recommended">
                    <app-pie-chart
                        #pieChart
                        [values]="recommendedPercentageStrategy"
                    ></app-pie-chart>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="changeStrategy(recommendedPercentageStrategy)">
                    I want this strategy
                </button>
            </div>
        </div>
    </div>
</div>