<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row" *ngIf="getPortfolio()">
    <div class="col-md-3" *ngFor="let aC of getPortfolio().assets; let i = index" (click)="showAsset(i+1)">
      <app-portfolio-snapshot
          [assetClass]="aC.assetClass"
          [percentage]="aC.percentage"
          [value]="aC.value"
      ></app-portfolio-snapshot>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="info-tile">
        <div class="tile-heading"><span>My Strategy</span></div>
        <app-strategy
          *ngIf="strategyValues"
          [values]="strategyValues"
          [colors]="['#86c7f3','#aed581','#ffa1b5','#ECD25B','#eaeaea']"
          [labels]="['Bonds', 'Forex', 'Stocks', 'Commodities', 'Empty']"
        ></app-strategy>
      </div>
    </div>
    <div class="col-md-9 " *ngIf="worthHistoryOptions">
      <div class="info-tile">
        <div class="tile-heading"><span>Worth history</span></div>
        <app-line-chart [data]="worthHistoryOptions"></app-line-chart>
      </div>
    </div>
  </div>
</div>
