<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">RA+</h1>
        </div>
        <h3 class="white-color">Welcome to RoboAdvice+</h3>
        <p  class="white-color">Login in. To see it in action.</p>
        <form class="m-t" role="form">
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-envelope icon-width"></i></span>
                <input type="email" class="form-control" #user placeholder="Email" required="">
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-lock icon-width"></i></span>
                <input type="password" class="form-control" #pwd placeholder="Password" required="">
            </div>
            <button type="button"
                    class="btn btn-primary block full-width m-b"
                    (click)="doLogin(user.value, pwd.value)"
            >Login</button>

            <a href="#"><small>Forgot password?</small></a>
            <p class="text-muted text-center white-color"><small>Do not have an account?</small></p>
            <a [routerLink]="['/register']" class="btn btn-sm btn-white btn-block">Create an account</a>
        </form>
        <p class="m-t white-color"> <small>Reservoir Dogs &copy; 2017</small> </p>
    </div>
</div>
