<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <button class="btn btn-default back-button" (click)="comeBack()">
          <span aria-hidden="true">&larr;</span>
        </button>
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Historical trend of "{{assetClassName}}"
                </h1>
                <p>(500 days data, values are indicative)</p>
            </div>
        </div>
        <div class="info-tile" *ngIf="getOptions && getOptions()">
            <app-line-chart [id]="'app-line-chart-' + idCounter" [data]="getOptions()"></app-line-chart>
        </div>
    </div>
</div>
