<div class="pie-chart-box" [class.pie-chart-portrait]="portrait">
    <div class="pie-chart-title" *ngIf="title"><h2>{{title}}</h2></div>
    <div class="pie-chart-container">
        <canvas #chartCanvas class="pieChartCanvas" (window:resize)="rePaint()"></canvas>
    </div>
    
    <div class="pie-chart-slider" *ngFor="let ac of values; let i = index">
        <md-grid-list cols="11" rowHeight="12px">
            <md-grid-tile
                colspan="2"
                rowspan="2">
                <div class="strategy-fab" [style.background-color]="colors[i]"></div>
            </md-grid-tile>
            <md-grid-tile
                colspan="9"
                rowspan="1">
                <md-slider
                    class="strategy-slider"
                    [value]="ac"
                    [max]="getMax(i)"
                    [min]="0"
                    [step]="1"
                    [thumb-label]="true"
                    (change)="valueChanged($event, i)">
                </md-slider>
            </md-grid-tile>
            <md-grid-tile
                colspan="9"
                rowspan="1"
            ></md-grid-tile>
        </md-grid-list>
    </div>
    <br>
    <div class="pie-chart-actions">
        <button md-raised-button (click)="saveStrategy()">Save</button>
    </div>
</div>