canvas.pieChartCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    image-rendering: crisp-edges;
}

div.pie-chart-container {
    width: 100%;
    position: relative;
    display: inline-block;
}
div.pie-chart-container:after {
    padding-top: 50%;
    /* 16:9 ratio */
    display: block;
    content: '';
}

div.pie-chart-portrait.pie-chart-container:after {
    padding-top: 200%;
}

@media (max-width: 600px) {
    div.pie-chart-container:after {
    padding-top: 200%;
    }
}

pie-chart {
    width: 100%;
    height: 100%;
}