<div class="left">
  <div class="left">
    <img class="img-worth" src="/app/img/worth.png" alt="my_worth">
  </div>
  <div class="right">
    <p class="money"> {{myWorth | currency:'USD':true:'1.2-2'}} </p>
    <p class="underMoney">Initial</p>
  </div>
</div>

<div class="right separetor-left">
  <div class="left">
    <img class="img-worth" src="/app/img/increase.svg" *ngIf="!isLoss()" alt="my_worth">
    <img class="img-worth" src="/app/img/decrease.png" *ngIf="isLoss()" alt="my_worth">
  </div>
  <div class="right">
    <p class="money" [ngClass]="{'green': !isLoss(), 'red': isLoss()}"> {{myProfLoss | currency:'USD':true:'1.2-2'}} </p>
    <p class="underMoney" *ngIf="!isLoss()">Profits</p>
    <p class="underMoney" *ngIf="isLoss()">Loss</p>
  </div>
</div>
