.img-worth{
  margin-top: 12px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.left{
  float: left;
}

.right{
  float: right;
}

.money{
  margin-top: 15px;
  font-size: 22px;
}

.underMoney{
  margin-top: -20px;
  font-size: 10px;
}

.separetor-left{
  margin-left: 30px;
}

.green{
  color: green;
}

.red{
  color: #c70e0e;
}
