<div class="row">
    <div class="col-md-12">
        <h1>This is the Backtesting page</h1>
        <h3>Look what would have happen if you had chosen a different strategy on a specific date.</h3>
        <p>To start you should select a date, choose a preset (or custom) strategy and then click on "PREVIEW" button.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="info-tile">
            <div class="input-group">
                <span class="input-group-addon">Simulation starting date</span>
                <input class="form-control" type="date" #fromDate name="date" (change)="checkDate($event)" [value]="startingDate">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="info-tile">
            <div class="tile-heading"><span>Current Strategy</span></div>
            <app-strategy 
                [colors]="roboAdviceConfig.PieChartColor" 
                [labels]="roboAdviceConfig.AssetClassLabel" 
                [autoSaving]="false"
                [saveLabel]="'Preview'" 
                (save)="onPreviewClick($event, fromDate.value)"></app-strategy>
        </div>
    </div>
    <div class="col-md-8" *ngIf="backTestingData">
        <div class="info-tile">
            <div class="tile-heading"><span>Backtesting Worth</span></div>
            <app-line-chart [data]="getChartOptions()"></app-line-chart>
        </div>
    </div>
    <div class="col-md-8" *ngIf="!backTestingData">
        <div class="info-tile">
            <h1>{{textPreview}}</h1>
        </div>
    </div>
</div>