.roboAdviceName{
  margin-left: 20px;
}

@media (min-width: 768px){
    .buttonShowSidebar{
        display: none;
    }
}

@media (max-width: 769px) {
    .navbar-right {
        float: right !important;
        margin-right: 15px;
    }
}

@media (max-width: 580px){
  .roboAdviceName {
    display: none;
  }
}
