body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-family: "Roboto";
}

* {
  color: white;
}

.container-layout {
  width: 100%;
  height: 92%;
  display: flex;
}

.sidebar-container {
  width: 20%;
  min-width: 150px;
  height: 100%;
  background-color: #050a0d;
  box-sizing: border-box;
  box-shadow: 6px 0 12px rgba(35, 38, 53, 0.4);
  padding-top: 24px;
}
.sidebar-container.open {
  display: block;
}
.sidebar-container.close {
  display: block;
}
.sidebar-overlay.open {
  display: none;
}
.sidebar-overlay.close {
  display: none;
}

.sidebar-button.mat-button:hover {
  border-right: inset 4px #4B8220;
}

.sidebar-button.mat-button,
.sidebar-button span,
.sidebar-button div {
  width: 100%;
  text-align: left;
  color: rgba(255, 255, 255, 0.807);
  font-weight: 500;
  font-size: 12px;
  vertical-align: middle;
}
.sidebar-overlay {
    z-index: 201;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.sidebar-button span md-icon {
  font-size: 18px;
}

.app-container {
  margin: 0 auto;
  width: 100%;
 /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom left, rgba(88,166,205,1) 0%, rgba(66,99,162,1) 100%);
  background: -moz-linear-gradient(bottom left, rgba(88,166,205,1) 0%, rgba(66,99,162,1) 100%);
  background: -o-linear-gradient(bottom left, rgba(88,166,205,1) 0%, rgba(66,99,162,1) 100%);
  background: linear-gradient(to top right, rgba(88,166,205,1) 0%, rgba(66,99,162,1) 100%); /* Chrome10-25,Safari5.1-6 */
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 24px;
  overflow-y: scroll;
}

.flex-board {
    display: flex;
    justify-content: space-around;
}

.my-card {
    box-sizing: border-box;
    padding: 24px;
    height: fit-content;
    margin-right: 24px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    border-radius: 5PX;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
}

.my-card:last-child {
    margin-right: 0px;
}

@media (max-width: 480px) {
    .my-card {
        margin-bottom: 24px;
    }
    .flex-board {
        flex-direction: column;
    }
}

md-icon#hamburger {
  display: none;
  font-size: 20px;
  width: 20px;
  height: 20px;
}


@media (max-width: 600px) {
    body {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      min-height: 600px;
    }

    .sidebar-container {
      display: none;
      position: fixed;
      width: 75%;
      z-index: 202;
      left: -100%;
    }
    .sidebar-overlay.open,
    .sidebar-container.open {
      animation: slide 0.2s forwards;
      display: block;
    }
    .sidebar-overlay.close,
    .sidebar-container.close {
      display: none;
    }

    @keyframes slide {
      100% { left: 0; }
    }

    md-icon#hamburger {
      display: block;
    }
}

md-card.box-form {
  max-width: 350px;
  margin: 0 auto;
}

md-card.box-form  md-card-content {
  text-align: center;
}

md-card.box-form md-card-actions {
  text-align: center;
  padding-bottom: 18px;
}

md-card.box-form md-card-header div.mat-card-header-text md-card-title.mat-card-title {
  color: #fff;
  font-size: 2em;
}

button.form-send-button {
  min-width: 50%;
}

.center {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  min-width: 50%;
}

md-card.box-form md-card-content button {
  width: 75%;
  color: white;
}

md-card.mat-card>md-card-action.mat-card-actions:last-child {
  margin-bottom: unset;
}


.input-full-width {
  width: 100%;
}


/*
 * override button color
 *
 *
 *
 *
*/

.mat-fab, .mat-mini-fab, .mat-raised-button {
      background-color: #00abff !important;
}