<div class="pie-chart-box" [class.pie-chart-portrait]="portrait">
  <app-pie-chart
    #pieChart
    [values]="strategyValues"
    [labels]="labels"
  ></app-pie-chart>


  <!--<div [hidden]="i == 4" class="pie-chart-slider" *ngFor="let ac of values; let i = index">

      <app-slider
              [value]="getValue(i)"
              [max]="100"
              [step]="1"
              [maxAllowed]="getMax(i)"
              [fillColor]="colors[i]"
              (change)="valueChanged($event, i)"
      ></app-slider>

  </div>-->
  <div [hidden]="showPresetStrategies">
    <div class="pie-chart-slider">
      <app-slider
        [value]="getValue(0)"
        [max]="100"
        [step]="1"
        [maxAllowed]="getMax(0)"
        [fillColor]="colors[0]"
        (change)="valueChanged($event, 0)"
      ></app-slider>
    </div>
    <div class="pie-chart-slider">
      <app-slider
        [value]="getValue(1)"
        [max]="100"
        [step]="1"
        [maxAllowed]="getMax(1)"
        [fillColor]="colors[1]"
        (change)="valueChanged($event, 1)"
      ></app-slider>
    </div>
    <div class="pie-chart-slider">
      <app-slider
        [value]="getValue(2)"
        [max]="100"
        [step]="1"
        [maxAllowed]="getMax(2)"
        [fillColor]="colors[2]"
        (change)="valueChanged($event, 2)"
      ></app-slider>
    </div>
    <div class="pie-chart-slider">
      <app-slider
        [value]="getValue(3)"
        [max]="100"
        [step]="1"
        [maxAllowed]="getMax(3)"
        [fillColor]="colors[3]"
        (change)="valueChanged($event, 3)"
      ></app-slider>
    </div>
  </div>

  <div [hidden]="!showPresetStrategies">
    <div *ngFor="let nameStrategy of roboAdviceConfig.StrategyName; let i = index">
      <a class="btn btn-apple" (click)="previewStrategy(i)">{{nameStrategy}}</a>
    </div>
  </div>
  <br>
  <div class="pie-chart-actions">
    <button class="btn btn-default" (click)="resetStrategy()" [disabled]="nothingChanged">RESET</button>
    <button class="btn btn-default" (click)="tooglePresetStrategies()">PRESET</button>
    <button class="btn btn-default" (click)="emitSave()" [disabled]="nothingChanged">SAVE</button>
  </div>
</div>
